body {
    background-color: lightgrey;
    font-family: Verdana, Geneva, sans-serif;
}

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col-resp {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col-resp:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 10%;
}

.span_2_of_3 {
    width: 12%;
}

.span_1_of_3 {
    width: 70%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col-resp {
        margin: 1% 0 1% 0%;
    }

    .span_3_of_3, .span_2_of_3, .span_1_of_3 {
        width: 100%;
    }
}

#received {
/ / font-family: Verdana, Geneva, sans-serif;
    font-size: xx-large;
}

#grid, #grid-bw {
    float: left;
    margin: 10px;
}

#grid-bw div.col-bw {
    width: 56px;
    height: 56px;
    float: left;
    margin-left: 1px;
    border: #000 1px solid;
}

#grid div.col {
    width: 6px;
    height: 6px;
    float: left;
    margin-left: 0px;
    border: #000 0px solid;
}

#grid-bw div.col-bw.active {
    border: #FF0000 3px solid;
    margin-right: -2px;
    margin-bottom: -2px;
    margin-left: -1px;
    margin-top: -2px;
}

.row-bw {
    clear: left;
    color: white;
    padding-top: 1px;
}

.row {
    clear: left;
    color: white;
    padding-top: 0px;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    color: #FFFFFF;
    background-color: #2FCCFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    color: #999999;
    background-color: #EEEEEE;
    text-align: right;
}

.relay-label {
    float: right;
}

.reset-button, .reload-button {
    color: white;
    display: inline-block;
    background-color: green;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 12px;
    text-align: center;
    float: none;
    margin: 10px;
}

.reload-button {
    background-color: darkgrey;
    width: 140px;
    float: none;
}

.alarm-box {
    color: white;
    height: 50px;
    width: 90px;
    line-height: 50px;
    display: inline-block;
    background-color: red;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 100px;
    text-align: center;
    float: left;
    margin: 10px;
    border: darkred 2px solid;
}

.blink {
    animation: blink 400ms infinite alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

